---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h2 >Welcome to teaching page</h2>
<h4 >On this page I will show all the work that I have been involved in teaching, include:</h4>
<ul>
<li>Teaching Assistant at University of Liverpool (93 hours in total)</li>
<li>IELTS Teaching Assistant at New Oriental Education Group Inc. (160 hours in total)</li>
</ul>
<hr />

<h2 >TA_UoL COMP101 - Introduction To Programming</h2>
<ul>
<li>Period: Week 3 - Week 10 in 2021-22 First Semester (Oct 2021 - Dec 2021)</li>
<li>Module leader: <a href='https://www.liverpool.ac.uk/computer-science/staff/keith-dures/'>Mr Keith Dures</a></li>
<li>Location: George Holt Building, 7 Ashton St, Liverpool, L69 3GJ, England</li>
<li>Students participated: about 50 students</li>
</ul>

<h3 >Main duties and responsibilities:</h3>
<ol>
<li><p>Prepare the content that will be used in each session</p>
<p>The lecturer sends the materials that will be used in the following week at each weekend. After receiving the material, I usually do the experiments in advance to remember the key points and difficult parts. Ensure I can give full answers to students&#39; questions. Before the lab session begins, I usually prepare the material to be presented in advance, or upload it to the presentation computer via <a href='https://www.liverpool.ac.uk/it/pc-centres/remote/'>Remote Teaching Centre Service</a>.</p>
</li>
<li><p>Leading the Lab sessions each week.</p>
<p>One lab session usually lasts an hour. I will spend the first 5 to 10 minutes telling everyone what they need to practice in the session, and then give them 40 minutes to practice. I use the last 10 minutes to demonstrate the correct solution or explain common problems.</p>
</li>
<li><p>Assistance, evaluation of student program coding in real time</p>
<p>During the 40 minutes that belong to the students for practice, I usually patrol the lab to answer questions that students encountered. I also check the code individually to make sure that students have learned the content of the class.</p>
</li>

</ol>
<h3 >What I have learned</h3>
<ol>
<li><p>Time management skills:</p>
<p>As a full-time postgraduate student, I work part-time as a TA. This job has helped me to develop my time management skills to stay organised and meet deadlines.</p>
</li>
<li><p>Reflection and self-improvement:</p>
<p>Like most jobs, TAs need to keep learning and improving ourselves. Having been involved in this module, I reflect on my teaching experience to make my teaching more effective.</p>
<p>&nbsp;</p>
</li>

</ol>
<hr />
<h2 >TA_UoL COMP207 - Database Development</h2>
<ul>
<li>Period: Week 3 - Week 11 in 2021-22 First Semester (Oct 2021 - Dec 2021)</li>
<li>Module  lecturer: <a href='https://www.liverpool.ac.uk/computer-science/staff/rasmus-ibsen-jensen/'>Dr Rasmus Ibsen-Jensen</a></li>
<li>Location: Walker Building, 150 Brownlow Hill, Liverpool, England</li>
<li>Students participated: about 60 students</li>
</ul>
<h3 >Main duties and responsibilities:</h3>
<ol>
<li><p>Prepare the content</p>
<p>The lecturer normally prepares the problems to be used in the lab sessions in advance. After receiving the content, I usually go through the questions, make my own solutions and think about how to deliver them to students.</p>
</li>
<li><p>Explaining solutions in the lab sessions, and answering questions</p>
<p>The lab sessions in this module are usually based on problem solving. I usually divide the one-hour session time into two halves. One half is given to the students to practice the problems and I usually work with another teaching assistant to answer students&#39; questions. Another half hour is for our demonstration, and I usually allocate tasks with another TA to demonstrate the solutions.</p>
</li>

</ol>
<h3 >What I have learned</h3>
<ol>
<li><p>Knowledge and expertise:</p>
<p>As a TA, I am responsible for supporting student learning. I deepened my professional knowledge in the teaching process.</p>
</li>
<li><p>Effective communication skills:</p>
<p>Working in collaboration with another TA and in face-to-face situations to answer students&#39; questions has improved my understanding of issues and my ability to express ideas in simple words.</p>
</li>

</ol>
<hr />
<h2 >TA_UoL COMP124 - Computer Systems</h2>
<ul>
<li>Period: Week 3 - Week 9 in 2021-22 Second Semester (Feb 2022 - Apr 2022)</li>
<li>Module  lecturer: <a href='https://www.liverpool.ac.uk/computer-science/staff/stuart-thomason/'>Dr Stuart Thomason</a></li>
<li>Location: George Holt Building, 7 Ashton St, Liverpool, L69 3GJ, England</li>
<li>Students participated: about 30 students</li>
</ul>
<h3 >Main duties and responsibilities:</h3>
<ol>
<li><p>Prepare the content</p>
<p>The lecturer sends the materials that will be used each week in advance. When I receive the materials, I study them prior to preparing to answer the students&#39; questions</p>
</li>
<li><p>Leading the Lab sessions each week.</p>
<p>I will demonstrate how to find the materials needed for the session in Canvas and then inform students about the exercises.</p>
</li>
<li><p>Assistance, evaluation of student codes in real time</p>
<p>I encourage active asking of questions. I walk around the lab after students have started practising. To answer questions that students encounter.</p>
<p>I also check the students&#39; code during the last half of the lab to ensure that every student can keep up with the progress</p>
</li>

</ol>
<h3 >What I have learned</h3>
<ol>
<li><p>Effective communication skills:</p>
<p>In this module, I often communicate with the lecturer and other teaching assistants, and I am also involved in answering students&#39; questions. This has enhanced my ability to explain complex concepts clearly.</p>
</li>

</ol>
<hr />
<h2 >TA_UoL COMP220 - Software Development Tools</h2>
<ul>
<li>Period: Week 2 - Week 10 in 2021-22 Second Semester (Feb 2022 - Apr 2022)</li>
<li>Module  lecturer: <a href='https://www.liverpool.ac.uk/computer-science/staff/sebastian-coope/teaching-and-learning/'>Mr Sebastian Coope</a></li>
<li>Location: George Holt Building, 7 Ashton St, Liverpool, L69 3GJ, England</li>
<li>Students participated: about 30 students</li>
</ul>
<h3 >Main duties and responsibilities:</h3>
<ol>
<li><p>Planning tasks</p>
<p>The lecturer set broad targets for each lab session (usually two or three weeks to complete one target) and I found that the students were confused about what they were supposed to do. After communicating with the lecturer, I set targets for each week by myself, and got the lecturer&#39;s approval. I then found in practice that the students knew what they were supposed to do and were keeping up with the progress initially set by the lecturer.</p>
</li>
<li><p>Leading the Lab sessions each week.</p>
<p>After I have defined the tasks for each lab session, the rest of the time is given to the students to practice on their own.</p>
</li>
<li><p>Assistance, evaluation of student codes in real time</p>
<p>During the students&#39; own practice, I check each person&#39;s progress and answer questions to ensure that everyone is keeping up.</p>
</li>

</ol>
<h3 >What I have learned</h3>
<ol>
<li><p>Understanding of student learning needs: </p>
<p>By working closely with the students, I was able to gain insight into everyone&#39;s needs and preferences and make adjustments to myself in time. In this module, I noticed on time that the students were not responding well to the objectives set by the lecturer, and I quickly communicated with the lecturer to list more detailed objectives so that the students were all on track.</p>
</li>
</ol>

<hr />
<h2 >IELTS Teaching Assistant at New Oriental Education Group Inc.</h2>
<ul>
<li>Period: July 2021 - September 2021</li>
<li>Location: 132 Changfeng Street, Xiaodian District, Taiyuan, China</li>
</ul>
<h3>Main duties and responsibilities:</h3>
<p>A CEFR B2 level teaching assistant at one of the most well-known English language training institutions in China, daily routine including:</p>
<ol>
<li>Coordinate and communicate with classroom teachers.</li>
<li>Coaching students to improve their English, with a total of 20 students.</li>

</ol>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
